<footer class="doc_footer_area">
    <div class="doc_footer_top bg-transparent">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="f_widget doc_about_widget wow fadeInUp" data-wow-delay="0.2s">
                        <a href="#">
                            <img src="img/logo.png" srcset="img/logo-2x.png 2x" alt="">
                        </a>
                        <p>Ocean is wide open its upon you, how much you dive deep.</p>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="social_facebook"></i></a></li>
                            <li><a href="#"><i class="social_twitter"></i></a></li>
                            <li><a href="#"><i class="social_vimeo"></i></a></li>
                            <li><a href="#"><i class="social_linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="f_widget doc_service_list_widget pl-30 wow fadeInUp" data-wow-delay="0.3s">
                        <h3 class="f_title_two">Solutions</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#"><img src="img/new/smile2.png" alt="">Help CSS Smashers</a>
                            </li>
                            <li>
                                <a href="#"><img src="img/new/doc2.png" alt="">CSS Smashers</a>
                            </li>
                            <li>
                                <a href="#"><img src="img/new/house2.png" alt="">User Frontend</a>
                            </li>
                            <li>
                                <a href="#"><img src="img/new/bag2.png" alt="">Lightbox</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="f_widget doc_service_list_widget pl-100 wow fadeInUp" data-wow-delay="0.4s">
                        <h3 class="f_title_two">Support</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Help Desk</a></li>
                            <li><a href="#">Knowledge Base</a></li>
                            <li><a href="#">Live Chat</a></li>
                            <li><a href="#">Integrations</a></li>
                            <li><a href="#">Reports</a></li>
                            <li><a href="#">Messages</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="f_widget doc_service_list_widget pl-70 wow fadeInUp" data-wow-delay="0.5s">
                        <h3 class="f_title_two">Company</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Careers</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="doc_footer_bottom">
        <div class="container d-flex justify-content-between">
            <ul class="doc_footer_menu list-unstyled wow fadeInUp" data-wow-delay="0.2s">
                <li><a href="#">Blog</a></li>
                <li><a href="#">Latest Projects</a></li>

            </ul>
            <p class="wow fadeInUp" data-wow-delay="0.3s">© 2021 All Rights Reserved Design by
                <span>AB Developers</span>
            </p>
        </div>
    </div>
</footer>
</div>

<!-- Back to top button -->
<a id="back-to-top" title="Back to Top"></a>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.5.1.min.js"></script>
<script src="assets/bootstrap/js/popper.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="js/pre-loader.js"></script>
<script src="assets/slick/slick.min.js"></script>
<script src="js/jquery.parallax-scroll.js"></script>
<script src="assets/niceselectpicker/jquery.nice-select.min.js"></script>
<script src="assets/wow/wow.min.js"></script>
<script src="assets/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="assets/magnify-pop/jquery.magnific-popup.min.js"></script>
<script src="js/plugins.js"></script>
<script src="../../unpkg.com/ionicons%405.4.0/dist/ionicons.js"></script>
<script src="js/main.js"></script>

</body>

</html>