<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <!-- icon css-->
    <link rel="stylesheet" href="assets/elagent-icon/style.css" />
    <link rel="stylesheet" href="assets/animation/animate.css" />
    <link rel="stylesheet" href="css/style-main.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <title>CSS Smashers</title>
</head>

<body data-scroll-animation="true">
    <%-include('partials/preloader.ejs'); -%>
        <div class="body_wrapper">
            <section class="signup_area">
                <div class="row ml-0 mr-0">
                    <div class="sign_left signin_left">
                        <h2>We are design changers do what matters.</h2>
                        <img class="position-absolute top" src="img/signup/top_ornamate.png" alt="top" />
                        <img class="position-absolute bottom" src="img/signup/bottom_ornamate.png" alt="bottom" />
                        <img class="position-absolute middle" src="img/signup/door.png" alt="bottom" />
                        <div class="round"></div>
                    </div>
                    <div class="sign_right signup_right">
                        <div class="sign_inner signup_inner">
                            <div class="text-center">
                                <h3>Sign in to CSS Smashers platform</h3>
                                <p>
                                    Don’t have an account yet?
                                    <a href="/signup">Sign up here</a>
                                </p>
                            </div>
                            <div class="divider">

                            </div>
                            <div class="einfo"></div>
                            <form action="/forgetPassword" class="row login_form">
                                <div class="col-lg-12 form-group">
                                    <div class="small_text">Your email</div>
                                    <input type="text" name="email" class="form-control" id="email" placeholder="" />
                                    <div class="email error"></div>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <div class="small_text">Enter new password</div>
                                    <div class="confirm_password">
                                        <input id="password" name="password" type="password" class="form-control" placeholder="5+ characters required" autocomplete="off" />
                                        <div class="password error"></div>
                                    </div>

                                    <div class="col-lg-12 text-center">
                                        <button type="submit" class="btn action_btn thm_btn">
                    Done
                  </button>
                                    </div>
                            </form>
                            </div>
                        </div>
                    </div>
            </section>
            </div>

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script>
                const form = document.querySelector("form");
                const emailError = document.querySelector(".email.error");
                const passwordError = document.querySelector(".password.error");
                const einfo = document.querySelector(".einfo");
                form.addEventListener("submit", async(e) => {
                    e.preventDefault();
                    // reset errors
                    emailError.textContent = "";
                    passwordError.textContent = "";

                    // get values
                    const email = form.email.value;
                    const password = form.password.value;

                    try {
                        einfo.textContent = "Check Email To Reset Password";
                        const res = await fetch("/forgetPassword", {
                            method: "POST",
                            body: JSON.stringify({
                                email,
                                password
                            }),
                            headers: {
                                "Content-Type": "application/json"
                            },
                        });
                        const data = await res.json();
                        einfo.textContent = "";
                        console.log(data.errors);
                        if (data.errors) {
                            emailError.textContent = data.errors.email;
                            passwordError.textContent = data.errors.password;
                        }

                    } catch (err) {
                        console.log(err);
                    }
                });
            </script>
            <script src="js/jquery-3.5.1.min.js"></script>
            <script src="js/pre-loader.js"></script>
            <script src="assets/bootstrap/js/popper.min.js"></script>
            <script src="assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="js/parallaxie.js"></script>
            <script src="js/TweenMax.min.js"></script>
            <script src="assets/wow/wow.min.js"></script>
            <script src="../../unpkg.com/ionicons%405.4.0/dist/ionicons.js"></script>
            <script src="js/main.js"></script>
</body>


</html>