<section class="doc_testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="doc_testimonial_slider">
                    <div class="item">
                        <h3>Live as if you were to die tomorrow. Learn as if you were to live forever.”</h3>
                        <div class="name">Penny Tool, <span>Director of Sales and Success</span></div>
                        <a href="#" class="sign"><img src="img/new/sign.png" alt=""></a>
                    </div>
                    <div class="item">
                        <h3>To be, or not to be: that is the question: Whether 'tis nobler in the mind to suffer The slings and arrows of outrageous fortune, Or to take arms against a sea of troubles,”</h3>
                        <div class="name">Penny Tool, <span>Director of Sales and Success</span></div>
                        <a href="#" class="sign"><img src="img/new/sign.png" alt=""></a>
                    </div>
                    <div class="item">
                        <h3>Education is the most powerful weapon which you can use to change the world”</h3>
                        <div class="name">Penny Tool, <span>Director of Sales and Success</span></div>
                        <a href="#" class="sign"><img src="img/new/sign.png" alt=""></a>
                    </div>
                    <div class="item">
                        <h3>Education is simply the soul of a society as it passes from one generation to another”</h3>
                        <div class="name">Penny Tool, <span>Director of Sales and Success</span></div>
                        <a href="#" class="sign"><img src="img/new/sign.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="doc_img_slider">
                    <div class="item">
                        <img class="dot" src="img/new/dot.png" alt="">
                        <div class="round one"></div>
                        <div class="round two"></div>
                        <img src="img/new/feedback_img.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="dot" src="img/new/dot.png" alt="">
                        <div class="round one"></div>
                        <div class="round two"></div>
                        <img src="img/new/feedback_img_02.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="dot" src="img/new/dot.png" alt="">
                        <div class="round one"></div>
                        <div class="round two"></div>
                        <img src="img/new/feedback_img_03.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="dot" src="img/new/dot.png" alt="">
                        <div class="round one"></div>
                        <div class="round two"></div>
                        <img src="img/new/feedback_img_04.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>