<section class="recommended_topic_area">
    <div class="container">
        <div class="recommended_topic_inner">
            <img class="doc_shap_one" src="img/new/shap.png" alt="">
            <div class="doc_round one" data-parallax='{"x": -80, "y": -100, "rotateY":0}'></div>
            <div class="doc_round two" data-parallax='{"x": -10, "y": 70, "rotateY":0}'></div>
            <div class="doc_title text-center">
                <h2 class="wow fadeInUp" data-wow-delay="0.2s">Optional Subjects</h2>
                <p class="wow fadeInUp" style="color: black;" data-wow-delay="0.4s">Here is the list of optional subjects. Optional subjects are further divided into 7 groups. And the rule of selecteing them is below.
                </p>
            </div>
            <div class="row" style="color: black;">
                <div class=" col-lg-3 col-6 ">
                    <div class="recommended_item wow fadeInUp " data-wow-delay="0.2s ">
                        <img src="img/new/group1.png " alt=" ">
                        <a href="# ">
                            <h3>Group 1</h3>
                        </a>
                        <ul class="list-unstyled ">
                            <li><a href="# ">Accountancy & Auditing</a></li>
                            <li><a href="# ">Economics</a></li>
                            <li><a href="# ">Computer Science</a></li>
                            <li><a href="# ">Polictical Science</a></li>
                            <li><a href="# ">International Relations</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6 ">
                    <div class="recommended_item wow fadeInUp " data-wow-delay="0.3s ">
                        <img src="img/new/group2.png " alt=" ">
                        <a href="# ">
                            <h3>Group 2</h3>
                        </a>

                        <ul class="list-unstyled ">
                            <li><a href="# ">Physics</a></li>
                            <li><a href="# ">Chemistry</a></li>
                            <li><a href="# ">Applied Mathematics</a></li>
                            <li><a href="# ">Pure Mathematics</a></li>
                            <li><a href="# ">Statistics</a></li>
                            <li><a href="# ">Geology</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6 ">
                    <div class="recommended_item wow fadeInUp " data-wow-delay="0.4s ">
                        <img src="img/new/group3.png " alt=" ">
                        <a href="# ">
                            <h3>Group 3</h3>
                        </a>
                        <ul class="list-unstyled ">
                            <li><a href="# ">Business Administration</a></li>
                            <li><a href="# ">Public Administrtion</a></li>
                            <li><a href="# ">Governance and public policies</a></li>
                            <li><a href="# ">Town Planing and Urban Management</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6 ">
                    <div class="recommended_item wow fadeInUp " data-wow-delay="0.5s ">
                        <img src="img/new/group4.png " alt=" ">
                        <a href="# ">
                            <h3>Group 4</h3>
                        </a>
                        <ul class="list-unstyled ">
                            <li><a href="# ">History of Pakistan & India</a></li>
                            <li><a href="# ">Islamic History & Culture</a></li>
                            <li><a href="# ">British History</a></li>
                            <li><a href="# ">European History</a></li>
                            <li><a href="# ">History of USA</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row ">
                <div class="col-lg-3 col-6 ">
                    <div class="recommended_item wow fadeInUp " data-wow-delay="0.5s ">
                        <img src="img/new/group5.png " alt=" ">
                        <a href="# ">
                            <h3>Group 5</h3>
                        </a>
                        <ul class="list-unstyled ">
                            <li><a href="# ">Gender Studies</a></li>
                            <li><a href="# ">Enironmenta Sciences</a></li>
                            <li><a href="# ">Agricultural & Forestry</a></li>
                            <li><a href="# ">Botany</a></li>
                            <li><a href="# ">Zoology</a></li>
                            <li><a href="# ">English Literature</a></li>
                            <li><a href="# ">Urdu Literature</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6 ">
                    <div class="recommended_item wow fadeInUp " data-wow-delay="0.5s ">
                        <img src="img/new/group6.png " alt=" ">
                        <a href="# ">
                            <h3>Group 6</h3>
                        </a>
                        <ul class="list-unstyled ">
                            <li><a href="# ">Law</a></li>
                            <li><a href="# ">Constitutional Law</a></li>
                            <li><a href="# ">International Law</a></li>
                            <li><a href="# ">Muslim Law & Jurisprudence</a></li>
                            <li><a href="# ">Mercantile Law</a></li>
                            <li><a href="# ">Criminology</a></li>
                            <li><a href="# ">Philosophy</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6 ">
                    <div class="recommended_item wow fadeInUp " data-wow-delay="0.5s ">
                        <img src="img/new/group7.png " alt=" ">
                        <a href="# ">
                            <h3>Group 7</h3>
                        </a>
                        <ul class="list-unstyled ">
                            <li><a href="# ">Journalism & Mass Comunication</a></li>
                            <li><a href="# ">Psychology</a></li>
                            <li><a href="# ">Geography</a></li>
                            <li><a href="# ">Sociology</a></li>
                            <li><a href="# ">Anthropology</a></li>
                            <li><a href="# ">Punjabi</a></li>
                            <li><a href="# ">Sindhi</a></li>
                            <li><a href="# ">Pashto</a></li>
                            <li><a href="# ">Balochi</a></li>
                            <li><a href="# ">Persian</a></li>
                            <li><a href="# ">Arabic</a></li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center wow fadeInUp " data-wow-delay="0.2s ">
                <a href="# " class="question_text ">Want to know more or have a<br> Question?
                </a>
            </div>
        </div>
    </div>
</section>