<div class="col-xl-2 d-none d-xl-block">
    <div class="left_side_forum">
        <aside class="l_widget forum_list">
            <h3 class="wd_title">Forums</h3>
            <ul class="navbar-nav">
                <li class="active nav-item">
                    <a href="#"><i class="social_tumbleupon"></i>View all</a>
                </li>
                <li class="nav-item">
                    <a href="#"><i class="icon_lightbulb_alt"></i>General</a>
                </li>
                <li class="nav-item">
                    <a href="#"><i class="icon_lightbulb_alt"></i>Ideas</a>
                </li>
                <li class="nav-item">
                    <a href="#"><i class="fa fa-user-o"></i>User Feedback</a>
                </li>
            </ul>
        </aside>
        <aside class="l_widget l_tags_wd">
            <h3 class="wd_title">Tags</h3>
            <ul class="list-unstyled w_tag_list style-light">
                <li><a href="#">Swagger</a></li>
                <li><a href="#">CSS Smashers</a></li>
                <li><a href="#">weCare</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Download</a></li>
                <li><a href="#">CSS Smashers</a></li>
                <li><a href="#">Product board</a></li>
                <li><a href="#">WordPress</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">ui/ux</a></li>
                <li><a href="#">CSS Smashers Design</a></li>
                <li><a href="#">CSS Smashers All</a></li>
            </ul>
        </aside>
        <aside class="l_widget comment_list">
            <h3 class="wd_title">Recent Topics</h3>
            <ul class="navbar-nav">
                <li>
                    <div class="media">
                        <div class="d-flex">
                            <i class="icon_chat_alt"></i>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h4>Intégration 300 by</h4>
                            </a>
                            <a href="#">
                                <h5><img src="img/forum/r-topic-user.png" alt=""> Jean Conner</h5>
                            </a>
                            <p>4 days, 3 hours ago</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <div class="d-flex">
                            <i class="icon_chat_alt"></i>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h4>how by</h4>
                            </a>
                            <a href="#">
                                <h5><img src="img/forum/r-topic-user.png" alt=""> Lucile Barber</h5>
                            </a>
                            <p>1 week ago</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <div class="d-flex">
                            <i class="icon_chat_alt"></i>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h4>testing by</h4>
                            </a>
                            <a href="#">
                                <h5><img src="img/forum/r-topic-user.png" alt=""> Dwain Cherry</h5>
                            </a>
                            <p>3 days, 20 hours ago</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <div class="d-flex">
                            <i class="icon_chat_alt"></i>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h4>Title by</h4>
                            </a>
                            <a href="#">
                                <h5><img src="img/forum/r-topic-user.png" alt=""> Kati Burch</h5>
                            </a>
                            <p>1 month ago</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <div class="d-flex">
                            <i class="icon_chat_alt"></i>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h4>Green Planet by</h4>
                            </a>
                            <a href="#">
                                <h5><img src="img/forum/r-topic-user.png" alt=""> Morris Ruiz</h5>
                            </a>
                            <p>1 week, 2 days ago</p>
                        </div>
                    </div>
                </li>
            </ul>
        </aside>
    </div>
</div>