<div class="col-xl-3 col-lg-4">
    <div class="right_side_forum">
        <aside class="r_widget qustion_wd">
            <button class="btn" type="button"><img src="img/forum/helpful-user/question-1.png"
                    alt="">Ask Question <i class="arrow_carrot-right"></i></button>
        </aside>
        <aside class="r_widget user_list_wd">
            <div class="r_heading d-flex justify-content-between">
                <h3>Most Helpful</h3>
                <h5>Last 30 days</h5>
            </div>
            <ul class="navbar-nav">
                <li>
                    <a href="#">
                        <div class="media">
                            <div class="d-flex">
                                <img class="rounded-circle" src="img/forum/helpful-user/h-user-1.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4>cleo-parra</h4>
                            </div>
                            <div class="media-right">
                                <div class="count">
                                    10
                                </div>
                                <i class="icon_check_alt"></i>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="media">
                            <div class="d-flex">
                                <img class="rounded-circle" src="img/forum/helpful-user/h-user-2.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4>roy_marin</h4>
                            </div>
                            <div class="media-right">
                                <div class="count">
                                    08
                                </div>
                                <i class="icon_check_alt"></i>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="media">
                            <div class="d-flex">
                                <img class="rounded-circle" src="img/forum/helpful-user/h-user-3.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4>hellen.austin</h4>
                            </div>
                            <div class="media-right">
                                <div class="count">
                                    05
                                </div>
                                <i class="icon_check_alt"></i>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="media">
                            <div class="d-flex">
                                <img class="rounded-circle" src="img/forum/helpful-user/h-user-4.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4>erna.may</h4>
                            </div>
                            <div class="media-right">
                                <div class="count">
                                    03
                                </div>
                                <i class="icon_check_alt"></i>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="media">
                            <div class="d-flex">
                                <img class="rounded-circle" src="img/forum/helpful-user/h-user-5.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4>jacobson</h4>
                            </div>
                            <div class="media-right">
                                <div class="count">
                                    02
                                </div>
                                <i class="icon_check_alt"></i>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="media">
                            <div class="d-flex">
                                <img class="rounded-circle" src="img/forum/helpful-user/h-user-6.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4>van.mays</h4>
                            </div>
                            <div class="media-right">
                                <div class="count">
                                    01
                                </div>
                                <i class="icon_check_alt"></i>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="media">
                            <div class="d-flex">
                                <img class="rounded-circle" src="img/forum/helpful-user/h-user-7.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4>steve_barr</h4>
                            </div>
                            <div class="media-right">
                                <div class="count">
                                    01
                                </div>
                                <i class="icon_check_alt"></i>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </aside>
        <aside class="r_widget question_list_wd">
            <div class="r_heading d-flex justify-content-between">
                <h3>Top</h3>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">7 days</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">30 days</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <ul class="navbar-nav">
                        <li><a href="#"><span>01</span>Example of NearBy Place Search - SITE KIT</a>
                        </li>
                        <li><a href="#"><span>02</span>Example of Direction Steps - MAP KIT</a></li>
                        <li><a href="#"><span>03</span>Introduction to AppGallery Connect Crash
                                Service</a>
                        </li>
                        <li><a href="#"><span>04</span>Bank Card Recognition and Payment Screen - ML
                                KIT</a>
                        </li>
                        <li><a href="#"><span>05</span>Example of Direction Steps - MAP KIT</a></li>
                        <li><a href="#"><span>06</span>Example of NearBy Place Search - SITE KIT</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <ul class="navbar-nav">
                        <li><a href="#"><span>01</span>Example of NearBy Place Search - SITE KIT</a>
                        </li>
                        <li><a href="#"><span>02</span>Example of Direction Steps - MAP KIT</a></li>
                        <li><a href="#"><span>03</span>Introduction to AppGallery Connect Crash
                                Service</a>
                        </li>
                        <li><a href="#"><span>04</span>Bank Card Recognition and Payment Screen - ML
                                KIT</a>
                        </li>
                        <li><a href="#"><span>05</span>Example of Direction Steps - MAP KIT</a></li>
                        <li><a href="#"><span>06</span>Example of NearBy Place Search - SITE KIT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
</div>