<section class="doc_banner_area search-banner-light">
    <div class="container">
        <div class="doc_banner_content">
            <div class="doc_banner_content">
                <h2 class="wow fadeInUp">CSS Smashers</h2>
                <p class="wow fadeInUp" style="color:black;">Help each other to smash the Centeral Superior Servises (CSS) Exam</p>
            </div>

        </div>
    </div>
</section>